@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero{
  background: url('./assets/images/hero2.jpg') no-repeat fixed;
  background-size: cover;
  background-position: center;
}

.features{
  background: linear-gradient(rgba(1, 9, 92, 0.9), rgba(1,10,100,0.8)), url('./assets/images/features.jpg') no-repeat fixed;
  background-size: cover;
  background-position: center;
}


.contact{
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url('./assets/images/features.jpg') no-repeat fixed;
  background-size: cover;
  background-position: center;
}

.userType{
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url('./assets/images/features.jpg') no-repeat fixed;
  background-size: cover;
  background-position: center;
}